# Python
__pycache__/
*.pyc
*.egg-info/

# R
.Rhistory
.RData
.Rproj.user/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
analysis/event_study/diff_in_diff_package/py_did_multiplegt_dyn/data/wagepan.csv
analysis/event_study/diff_in_diff_package/py_did_multiplegt_dyn/data/favara_imbs_did_multiplegt_dyn.csv
